.bundle/
.idea/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.DS_Store
# don't preserve gem versions, it's less flexible that way
Gemfile.lock
